.wrapper {
    background-color:azure;
}

.image1 {
    
    margin: -10px;
    border-radius: 25px;
    border: 10px solid transparent;
   
    
}

.title {
    padding: 30px;
}

.image2 {
    margin: 20px;
    border-radius: 25px;
    border: 10px solid transparent;
    padding: 20px;
}

.experience {
    margin: 80px;
    border: 2px solid;
}

.experience2 {
    margin: 80px;
    border: 2px solid;
}
